@import '../../styles/mixins.scss';

.video-info {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 20px;
  margin-bottom: 5%;
  min-height: 200px;
  @include tablets() {
    flex-flow: column;
    padding: 3%;
  }
}

.content-poster {
  position: relative;
  display: flex;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  flex-direction: column;
  @include tablets() {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  @include phones() {
    width: 100%;
  }
}

.content-icon {
  width: 25px;
  @include tablets() {
    width: 35px;
  }
}

.video-page--raite {
  display: flex;
  flex-flow: column wrap;
}

.wrapp-rate {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
//

.video-poster {
  border-radius: 10px;
  overflow: hidden;
  min-height: 300px;
}

.video-page-title {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: #000;
  border-bottom: 1px dashed gray;
  padding-bottom: 2%;
}

.video-title {
  margin-bottom: 2%;
  font-size: 1.2rem;
}

.video-subtitle {
  font-size: 1.1rem;
  font-weight: 500;
}

.content-text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;
  flex: 2;
  background-image: linear-gradient(
    to right top,
    #0b0816,
    #110c1f,
    #141028,
    #161232,
    #1a143b
  );
  color: white;
  padding: 15px 25px 0 20px;
  border-radius: 5px;
}

.video-page--raite,
.video-page--year,
.video-page--countrie,
.video-page--producers,
.video-page--genres,
.video-page--actors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  margin: 15px 0;
  min-width: 100px;
  box-shadow: 0 13px 8px -9px rgb(218, 216, 212);
  @include tablets() {
    width: 100%;
    flex-flow: wrap column;
  }
}

.video-page--raite,
.video-page--year {
  box-shadow: none;
  @include phones() {
    justify-content: space-between;
    flex-flow: wrap row;
  }
}

.info-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #c8c0ed;
}

.title-right {
  display: flex;
  justify-content: space-between;
  @include phones() {
    flex-flow: column;
  }
}

.title-left {
  padding-bottom: 2%;
}

.list-items {
  width: 80%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  font-size: 1.1rem;
  color: #c5c4dc;
  font-family: Roboto, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  @include phones() {
    width: 100%;
    font-size: 1rem;
  }
}

.list-item {
  &:after {
    content: ', ';
  }
}
.list-item:last-child {
  &:after {
    content: '';
  }
}
