.classic-pagination {
  display: flex;
  -ms-flex-pack: center;
  justify-content: space-around;
  width: 250px;
  height: 100px;
  padding: 30px 0;
  margin: 0 auto;
}

.pagination-item {
  position: relative;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: rgba(219, 87, 5, 1);
  height: 30px;
  font-weight: 700;
  font-size: 1.3em;
  display: block;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  min-width: 40px;
  text-align: center;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  margin-right: 2%;
}

.pagination-item:hover {
  //box-shadow: 2px 4px 5px 0px rgb(213, 219, 210);
  transform: scale(0.9, 0.9);
  transition: 0.4s;
}

.pagination-item__disabled {
  pointer-events: none;
  cursor: default;
  background-color: rgb(211, 219, 207);
}

.pagination-item__begin {
  background-color: rgb(5, 189, 219);
  font-weight: 400;
}