@import '../../styles/mixins.scss';

$serial-color: rgb(206, 232, 241);

.last-serials {
  display: flex;
  flex-flow: column;

  @include phones() {
    flex-flow: row;
    overflow-x: auto;
    overflow-y: hidden;
    width: 250px;
    min-height: 200px;
    margin-bottom: 5%;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.last-serials--items {
  position: relative;
  text-align: center;
  margin: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 2px rgb(26, 2, 26);
  // transform: scale(1) scaleZ(1) rotateZ(-5deg);
  perspective: 1410px;
  perspective-origin: 45% 50%;
  transition: 0.5s;
  background-image: linear-gradient(
    to right,
    #1a143b,
    #24143d,
    #2e133f,
    #381240,
    #421040,
    #421040,
    #421040,
    #421040,
    #381240,
    #2e133f,
    #24143d,
    #1a143b
  );
  &:hover {
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 1);
    transform: scale(1.1) scaleZ(1) rotateZ(0deg);
    z-index: 20;
  }

  @include phones() {
    transform: scale(1.1) scaleZ(1) rotateZ(0deg);
    margin: 0 5%;
  }
}
.episodes-title {
  font-size: 1em;
}

.episodes-serial {
  position: relative;
  color: $serial-color;
  font-weight: bold;
  height: 100%;
  top: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: space-around;
  z-index: 2;

  div {
    display: flex;
    flex-flow: wrap column;
  }
  // &:hover {
  //   transition: 0.4s;
  //   transform: scale3d(1.1, 1.1, 1.1);
  // }
  @include phones() {
    min-width: 200px;
    width: auto;
    // margin: 5px;
  }
}

.update-spiner {
  display: flex;
  justify-content: center;
}

.serials-href {
  height: 100%;
}
