@import '../../styles/mixins.scss';

.skeletor-card {
  height: 300px;
  width: 200px;
  border: 2px solid #17a59e;
  border-radius: 10px;
  margin: 2px;
  @include phones() {
    margin: 5% 0;
  }
}
