*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  word-spacing: 1px;
  text-size-adjust: 100%;
  box-sizing: border-box;
  scrollbar-color: #3366ff black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  background: #1a143b;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #131217;
  border-radius: 10px;
}

html::-webkit-scrollbar {
  background-color: #131217;
}

html::-webkit-scrollbar-thumb {
  background-color: #0ae;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(45deg,
          rgba(255, 255, 255, .2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, .2) 50%,
          rgba(255, 255, 255, .2) 75%,
          transparent 75%,
          transparent);

  &:active {
    background: #F90 -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}


.container {
  height: inherit;
  display: flex;
  width: 100vw;
  flex-flow: column;
}

.home {
  position: relative;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  width: 100%;
  flex: 1 0 auto;
  margin-bottom: 2rem;
}

.loading {
  color: lime;
}

.no-data {
  min-height: 50px;
  padding: 2%;
  border: 2px solid blue;
  color: wheat;
  font-weight: bolder;
  font-size: 1.3rem;
  min-width: 280px;
  text-align: center;
}

.main {
  padding-top: 50px;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.not-found {
  display: flex;
  flex: 1;
  padding-top: 150px;
  align-content: center;
  justify-content: center;
  color: blue;
}

.isa_info,
.isa_success,
.isa_warning,
.isa_error {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.isa_info {
  color: #00529b;
  background-color: #bde5f8;
}

.isa_success {
  color: #4f8a10;
  background-color: #dff2bf;
}

.isa_warning {
  color: #9f6000;
  background-color: #feefb3;
}

.isa_error {
  color: #d8000c;
  background-color: #ffd2d2;
}