*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // user-select: none;
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scrollbar-color: #3366ff black;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  background: #1a143b;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #131217;
  border-radius: 10px;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #131217;
}

html::-webkit-scrollbar-thumb {
  background-color: #3366ff;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
}


.container {
  height: inherit;
  display: flex;
  width: 100%;
  flex-flow: column;
}

.home {
  position: relative;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  flex: 1 0 auto;
  margin-bottom: 2rem;
}
.loading {
  color: lime;
}

.no-data {
  min-height: 50px;
  padding: 2%;
  border: 2px solid blue;
  color: wheat;
  font-weight: bolder;
  font-size: 1.3rem;
  min-width: 280px;
  text-align: center;
}

.main {
  padding-top: 50px;
}

.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: opacity 300ms;
}
.not-found {
  display: flex;
  flex: 1;
  padding-top: 150px;
  align-content: center;
  justify-content: center;
  color: blue;
}

.isa_info,
.isa_success,
.isa_warning,
.isa_error {
  width: 100%;
  text-align: center;
}
.isa_info {
  color: #00529b;
  background-color: #bde5f8;
}
.isa_success {
  color: #4f8a10;
  background-color: #dff2bf;
}
.isa_warning {
  color: #9f6000;
  background-color: #feefb3;
}
.isa_error {
  color: #d8000c;
  background-color: #ffd2d2;
}
