.home {
  position: relative;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  margin-bottom: 1rem;
  z-index: 5;
}

.loading {
  color: lime;
}

.no-data {
  min-height: 50px;
  padding: 2%;
  border: 2px solid blue;
  color: wheat;
  font-weight: bolder;
  font-size: 1.3rem;
  min-width: 280px;
  text-align: center;
}
