@import '../styles/mixins.scss';

.search {
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 50px;
}
.search-title {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  color: burlywood;
  @include phones() {
    font-size: 1.4em;
  }
}

.no-results {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.to-main {
  color: #2f56b0;
  position: relative;
  text-decoration: none;
  transition: color 0.4s ease-out;
  font-size: 1.5rem;
  font-weight: bold;
  &:hover {
    color: #457dfb;
    text-decoration: none;
  }
  &:hover::after {
    border-color: #457dfb;
    right: 0;
  }
  &::after {
    border-radius: 1em;
    border-top: 0.1em solid #2f56b0;
    content: '';
    position: absolute;
    right: 100%;
    bottom: 0.14em;
    left: 0;
    transition: right 0.4s cubic-bezier(0, 0.5, 0, 1),
      border-color 0.4s ease-out;
  }
}

.no-results--text {
  padding: 5%;
  color: white;
}

.search-tabs {
  display: flex;
  justify-content: center;
}
.serach-tabs--btn {
  position: relative;
  margin: 1%;
  padding: 8px;
  cursor: pointer;
  font-size: 1em;
  font-family: fantasy;
  background: #000;
  color: white;
  outline: none;
  box-shadow: 0px 0px 9px 0px rgba(230, 53, 224, 1);
  border: none;
}
.search-tabs--count {
  position: absolute;
  top: -10px;
  right: -4px;
  color: chartreuse;
}
.active-tab {
  z-index: 12;
  background: #000;
  color: #ff4500;
  cursor: default;
  box-shadow: 0 0 9px 3px #e635e0;
  transform: scale(1.1);
}
