.movie-page {
  padding-top: 60px;
}
.video-media {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  margin-bottom: 10%;
}

.favorite-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-content: center;
  min-height: 60px;
}
