@import '../../shared/styles/mixins.scss';

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 300px;
  z-index: 100;
  //  Hide menu when INIT
  transform: translateY(-200%);
}

.navbar-closebtn {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  padding-right: 25px;
  background: #000;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.nav {
  background: rgba(0, 0, 0, 0.9);
  flex: 2;
  filter: grayscale(70%);
  box-shadow: 7px 0px 5px -4px rgba(22, 116, 199, 1);
  transition: 0.5s;
  padding-bottom: 5%;
  @include phones() {
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &:hover {
    box-shadow: 4px 5px 7px 0px rgba(206, 82, 212, 1);
    filter: grayscale(0);
  }
}

.close-tab {
  background: #00000083;
  flex: 3;
  filter: blur(20px);
  @include phones() {
    flex: 1;
  }
}

.navigation--item {
  margin: 2%;
  @include tablets() {
    margin-bottom: 15%;
  }
}

.navigation--href {
  color: wheat;
  padding: 2%;
  // transform: scale(0.9) skew(1deg, 2deg);
  min-width: 200px;
  box-shadow: 4px 5px 7px 0px rgba(83, 153, 214, 1);
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.4s;
  font-family: 'Arial Narrow Bold', sans-serif;

  &:hover {
    box-shadow: 4px 5px 7px 0px rgba(206, 82, 212, 1);
    // transform: scale(1) skew(0deg, 0deg);
    transition: 0.4s;
    color: orangered;
    text-shadow: 5px 5px 10px rgba(83, 153, 214, 1);
    // letter-spacing: 3px;
  }
}

.navbar-search {
  display: none;
  height: 39px;
  width: 250px;
  @include tablets() {
    display: block;
    margin: 10% auto;
  }
}

// ANIMATION

// .navbar-close {
//   will-change: transform;
//   position: fixed;
//   transform: translateY(-200%);
// }

.auth-btns {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 25%;
}
// login
.auth-login-btn {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial, serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.auth-login-btn:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.auth-login-btn:active {
  position: relative;
  top: 1px;
}
// logOut btn
.logOut-btn {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.logOut-btn:hover {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}
.logOut-btn:active {
  position: relative;
  top: 1px;
}

.active {
  color: red;
}

/**
 * ----------------------------------------
 * animation slide-rotate-hor-bot
 * ----------------------------------------
 */

.slide-rotate-hor-bot {
  animation: slide-rotate-hor-bot 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-rotate-hor-bot {
  0% {
    transform: translateY(-250px) rotateX(-90deg);
  }
  100% {
    transform: translateY(0) rotateX(0);
  }
}
