@import '../../shared/styles/mixins.scss';

.side-bar {
  position: relative;
  display: flex;
  min-width: 300px;
  height: 100vh;
  z-index: 100;
}

.nav {
  background: rgba(0, 0, 0, 0.97);
  flex: 2;
  box-shadow: 7px 0px 5px -4px rgba(22, 116, 199, 1);
  transition: 0.5s;

  &:hover {
    box-shadow: 4px 5px 7px 0px rgba(206, 82, 212, 1);
  }
}

.close-tab {
  background: #00000083;
  flex: 3;
  filter: blur(20px);
  @include phones() {
    flex: 1;
  }
}

.navigation--item {
  margin: 5% 5%;
  @include tablets() {
    margin-bottom: 15%;
  }
}

.navigation--href {
  color: wheat;
  padding: 2%;
  // transform: scale(0.9) skew(1deg, 2deg);
  box-shadow: 4px 5px 7px 0px rgba(83, 153, 214, 1);
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.4s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  &:hover {
    box-shadow: 4px 5px 7px 0px rgba(206, 82, 212, 1);
    // transform: scale(1) skew(0deg, 0deg);
    transition: 0.4s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
    text-shadow: 5px 5px 10px rgba(83, 153, 214, 1);
    letter-spacing: 3px;
  }
}

.navbar-search {
  display: none;
  height: 39px;
  width: 250px;
  @include tablets() {
    display: block;
    margin: 10% auto;
  }
}

// ANIMATION

.navbar-open {
  animation-duration: 0.7s;
  animation-name: openMenu;
}

.navbar-close {
  position: relative;
  transform: translateX(-100%) scale(0) scaleZ(0) rotateY(-49deg);
  transition: 0.5s;
  transition-delay: 0.1s;
  height: 0;
}

.close-tab--close {
  transform: translateX(-100%) scale(0) scaleZ(0) rotateY(-49deg);
  transition: 0.6s;
  transition-delay: 0.2s;
}

@keyframes openMenu {
  0% {
    transform: scale(1) scaleZ(1) rotateY(-49deg);
    transform-origin: 0% 0%;
    perspective: 200px;
    perspective-origin: 50% 50%;
  }

  60% {
    // transform: scale(0.8);
  }
  70% {
    transform: skew(0deg, 0deg);
  }
  100% {
    // transform: scale(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: scale(1) scaleZ(1) rotateY(0deg);
    transform-origin: 0% 0%;
    perspective: 0;
    perspective-origin: 50% 50%;
  }
}
