@import '../../styles/mixins.scss';

.player-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 10;
  box-shadow: 0 0 18px 12px rgba(68, 186, 194, 1);
  padding-top: 1%;
  background: black;
  @include tablets() {
    width: 90%;
    box-shadow: 0 0 15px 0 rgba(68, 186, 194, 1);
  }
  @include phones() {
    width: 100%;
  }
}

.player {
  display: flex;
  justify-content: center;
  width: 600px;
  @include tablets() {
    width: 95%;
  }
}
