@import '../../shared/styles/mixins.scss';
.wrapp-carousel {
  position: relative;
  z-index: 4;
  margin-bottom: 2%;
  box-shadow: 0px 3px 5px -1px rgba(235, 193, 235, 1);
  width: 600px;
  @include tablets() {
    width: 200px;
    margin-bottom: 8%;
  } 
}
.slide-items {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.slide-title {
  background: #000000ed;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  color: #e0b19f;
  text-align: center;
  width: 100%;
  min-height: 40px;
}

.load-carousel {
  display: flex;
  align-items: center;
  height: 260px;
  margin-bottom: 2%;
}
