@import '../../shared/styles/mixins.scss';
.wrapp-carousel {
  position: relative;
  z-index: 4;
  margin-bottom: 5%;
  box-shadow: 0px 3px 5px -1px rgba(235, 193, 235, 1);
  width: 600px;
  @include tablets() {
    width: 200px;
    margin-bottom: 10%;
  }
}
.slide-items {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.slide-title {
  background: #1a143be0;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  color: #fff4f7;
  text-align: center;
  width: 100%;
  min-height: 70px;
}

.load-carousel {
  display: flex;
  align-items: center;
  height: 270px;
  margin-bottom: 2%;
}
