@import '../../styles/mixins.scss';

.aliExpress {
  width: 600px;
  margin-bottom: 2%;
  @include tablets() {
    width: 400px;
  }
  @include phones() {
    width: 230px;
    margin-bottom: 5%;
  }
}

.aliExpress--href {
  @include phones() {
    height: 50px;
  }
}
