.footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  height: 80px;
  box-shadow: 0px -4px 18px 0px rgba(92, 27, 92, 1);
  flex: 0 0 auto;
}

.apk-link {
  width: 50px;
  height: 50px;
  transition: 0.6s;
  &:hover {
    transform: translateY(-4px);
  }
}
