@import '../../styles/mixins.scss';
.container-filter {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: wrap;
  margin-bottom: 5%;
  @include phones() {
    margin-bottom: 8%;
  }
}

.pick-year,
.pick-genres,
.pick-camrip {
  display: flex;
  flex: 1;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  @include phones() {
    margin-bottom: 4%;
  }
}

.pick-year {
  z-index: 15;
}
.movie-card--list {
  display: flex;
  flex: 3;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-content: flex-start;
}

.wrapp-list-serials {
  flex: 1;
  @include phones() {
    display: none;
  }
}
.wrapp-list-serials--title {
  color: white;
  margin-bottom: 5px;
}
