@import '../../shared/styles/mixins';

$text-color: hsla(210, 50%, 85%, 1);
$shadow-color: hsla(252, 100%, 80%, 0.4);
$btn-color: hsl(210, 80%, 42%);
$bg-color: #141218;

.collection {
  @include phones() {
    margin-bottom: 5%;
  }
}

.collection-container {
  height: 80vh;
}

.collection-list {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  overflow-y: scroll;
  margin: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  @include phones() {
    flex-flow: column;
  }
}

.collection-items {
  position: relative;
  background: none;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #740C55;
  padding: 0.5em 1em;
  margin: 1%;
  cursor: pointer;
  font-size: 0.9em;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &:hover {
    color: #00abef;

    &::before {
      right: 80%;
    }

    &::after {
      left: 80%;
    }
  }
}

.collectio-btn {
  position: relative;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
  color: $text-color;
  background-image: linear-gradient(to right top, #051937, #01163a, #00133c, #000f3e, #04093f);
  box-shadow: $shadow-color 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
  transition: .5s;

  &:hover {
    background-image: linear-gradient(to right top, #040a12, #10172c, #281d44, #4c1c52, #740c55);
  }
}

.collectio-btn:focus {
  outline-color: transparent;
  box-shadow: $btn-color 2px 2px 22px;
}

.collectio-btn::after {
  font-weight: 200;
  top: -30px;
  left: -20px;
}

/* bubbles */
.collectio-btn::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background: radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, $text-color 3px, $text-color 4px, transparent 4px),
  radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, $text-color 3px, $text-color 4px, transparent 4px),
  radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, $text-color 5px, $text-color 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(0, -66.666%);
  }
}