@import '../../shared/styles/mixins';

.player-checkbox {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1%;
  @include phones() {
    flex-direction: column;
  }
}

.player-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 10;
  box-shadow: 0 0 18px 12px rgba(68, 186, 194, 1);
  padding-top: 1%;
  background: black;
  @include tablets() {
    width: 90%;
    box-shadow: 0 0 15px 0 rgba(68, 186, 194, 1);
  }
  @include phones() {
    width: 100%;
  }
}

.video-iframe {
  width: 100%;
}

.player {
  position: relative;
  display: flex;
  justify-content: center;
  width: 700px;
  @include tablets() {
    width: 95%;
  }
}

.wrappSpinLoader {
  position: absolute;
  width: 100%;
  filter: blur(5px);
}

.linearSpiner {
  width: 100%;
}

// buttons

$col-primary: #00c7ec;
$corner-radius: 5px;
.rainbow-button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  background: #012839;
  display: inline-block;
  position: relative;
  text-align: center;
  color: $col-primary;
  border: 1px solid $col-primary;
  border-radius: $corner-radius;
  outline: none;
  line-height: 3em;
  padding-left: 3em;
  padding-right: 3em;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  margin: 0 1%;
  transition: all 0.2s ease-in;
  @include phones() {
    margin: 1% auto;
    width: 70%;
  }

  &:hover {
    color: white;
    box-shadow: 0 0 30px 0 transparentize($col-primary, 0.5);
    background-color: $col-primary;

    transition: all 0.2s ease-out;

    &:before {
      animation: shine 0.5s 0s linear;
    }
  }

  &:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
  }

  &:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;

    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
  }
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.rainbow-button__active {
  background-color: #0e5b7c;
  transform: scale3d(0.9, 0.9, 0.9);
}
